*.userprefs
src/bin
src/obj
tests/bin
tests/obj
build/net45/obj/
build/netstandard1.0/bin/
build/netstandard1.0/obj/
build/netstandard1.3/bin/
build/netstandard1.3/obj/
build/netstandard1.6/bin/
build/netstandard1.6/obj/
build/netstandard2.0/bin/
build/netstandard2.0/obj/
build/portable-net45+win8+wp8/obj/
build/portable-net45+win8+wpa81/obj/Debug/CoreCompileInputs.cache
build/portable-net45+win8+wpa81/obj/
lib/Debug/
lib/Release/
.vs/
build/Android/obj/
build/TVOS/obj/
build/WatchOS/obj/
build/XamariniOS/obj/
build/XamarinMac/obj/
build/netcore/obj/
tests/build/net45/bin/Debug/KeraLua.dll
tests/build/net45/bin/
tests/build/net45/obj/
tests/build/netcore/bin/
tests/build/netcore/obj/
*.user
tests/build/xamarinios/obj/
tests/build/xamarintvos/obj/
tests/build/xamarintvos/bin/
tests/build/xamarinios/bin/
