# Autosave files
*~

*.pc
*.obj
*.pidb
*.mdb
*/bin/*
Run/

# build stuff
Applications/LuaRunner/luarunner
ConsoleTest/consoletest
tests/KeraLua.dll
tests/KopiLua.dll
tests/NLua.dll
tests/NLuaTest.dll
tests/nunit.framework.dll

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
UpgradeLog.XML
*.ReSharper
*.userprefs

# http://www.gnu.org/software/automake

Makefile
Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.status
