*.userprefs
src/bin
src/obj
tests/bin
tests/obj
build/net46/obj/
build/netstandard1.0/bin/
build/netstandard1.0/obj/
build/netstandard1.3/bin/
build/netstandard1.3/obj/
build/netstandard1.6/bin/
build/netstandard1.6/obj/
build/netstandard2.0/bin/
build/netstandard2.0/obj/
build/portable-net46+win8+wp8/obj/
build/portable-net46+win8+wpa81/obj/Debug/CoreCompileInputs.cache
build/portable-net46+win8+wpa81/obj/
lib/Debug/
lib/Release/
.vs/
build/Android/obj/
build/TVOS/obj/
build/WatchOS/obj/
build/XamariniOS/obj/
build/XamarinMac/obj/
build/netcoreapp3.1/obj/
tests/build/net46/bin/Debug/KeraLua.dll
tests/build/net46/bin/
tests/build/net46/obj/
tests/build/netcoreapp3.1/bin/
tests/build/netcoreapp3.1/obj/
*.user
tests/build/xamarinios/obj/
tests/build/xamarintvos/obj/
tests/build/xamarintvos/bin/
tests/build/xamarinios/bin/
build/uap10.0/obj/
TestResults/
tests/build/xamarintvos/TEST-Result-Xamarin.TVOS.xml
tests/build/xamarinios/result.xml
tests/build/xamarinios/TEST-Result-Xamarin.iOS.xml
tests/build/xamarintvos/result.xml
build/net6.0/obj
tests/build/net6.0/obj/
tests/build/net6.0/bin/
