<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>NLuaTest</string>
	<key>CFBundleIdentifier</key>
	<string>org.nlua.nluatest</string>
	<key>MinimumOSVersion</key>
	<string>3.2</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icons/Icon-Small@2x</string>
		<string>Icons/Icon</string>
		<string>Icons/Icon@2x</string>
		<string>Icons/Icon-72</string>
		<string>Icons/Icon-72@2x</string>
		<string>Icons/Icon-Small</string>
		<string>Icons/Icon-Small-50</string>
		<string>Icons/Icon-Small-50@2x</string>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSMainNibFile~ipad</key>
	<string></string>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
</dict>
</plist>
